<div class="row mb-3">
  <h1>Checkout</h1>
</div>
<div class="row">
  <% if @items %>
    <div class="col-sm-7" style="float: none; width: auto;">
      <%= render partial: "checkout", collection: @items, as: :item %>
    </div>

    <div class="col-sm-4 offset-sm-1 p-5 border border-1 rounded">
      <h4>Order Summary</h4>
      <div class="row mb-3">
        <div class="col-md-7">Items:</div>
        <div class="col-md-5">
          <%= number_to_currency(@subtotal) %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-7">GST/HST:</div>
        <div class="col-md-5">
          <%= number_to_currency(session[:order]["gst"]) %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-7">PST:</div>
        <div class="col-md-5">
          <%= number_to_currency(session[:order]["pst"]) %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-7">Total:</div>
        <div class="col-md-5">
          <%= number_to_currency(session[:order]["total"]) %>
        </div>
      </div>

      <%= button_to checkout_confirm_path, method: :post, class: "btn btn-secondary" do %>
        Confirm Order
      <% end %>
    </div>
  <% else %>
    <p>No items have been placed in the cart.</p>
  <% end %>
</div>