<h1>Utopia Builds</h1>
<h2>Recently Added:</h2>
<p>**New <%=@recent_product.product_type.name%>**</p>
<p><%=@recent_product.name %></p>

<h2>Recently Added CPU:</h2>
<p><%=@recent_cpu.name%></p><span>$<%=@recent_cpu.price%></span>

<h1>All Products</h1>
<% @products.each do | product | %>
  <p><%= link_to "#{product.name}", product %></p>
<% end %>

<%= paginate @products, theme: 'bootstrap-5' %>