<h1><%=@product.name%></h1>

<% if @product.image.present? %>
  <%= image_tag(@product.image, width:"100", class: "card-img-top")  %>
<% end %>

<p><%=@product.product_type.name %></p>
<p>Price: <%=number_to_currency(@product.price)%></p>
<p>Rating: <%=@product.rating%></p>

<p>Colors:</p>
<% if !@product.colors.empty? %>
  <ul>
    <% @product.colors.each do |color|%>
      <li><%= color.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>N/A</p>
<% end %>

<p>Description:</p>
<%= simple_format(@product.description) %>
